html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
  background-color: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 20px;
  font-size: 40px;
  font-family: "lucida console", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.equal-sign{
    grid-column: -2;
    grid-row: 2 / span 4;
    background-color: green;
}

button{
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 12px;
    cursor:  pointer ;
    background-color: rgb(199, 199, 199);
}

button:hover{
    filter: brightness(110%);
}

button:active{
    transform: translateY(1px);
}

button:focus{
    outline: none;
}


.operator{
    background-color: grey;
    color: white;
    font-size: 30px
}

.clear{
    background-color: rgb(218, 17, 17);
    color: white;
}


/* media queries */

@media screen and (max-width: 600px) {
    .calculator{
        width: 95%;
    }
}